*~
*.o
/work/*
/old/*
/bin-x86_64/*
/bin-ix86/*
/bin-win32-ix86/*
/linux-ix86/*
/linux-x86_64/*
/win32-ix86/*
/tests/tmp/*
/obsolete/*
/experimental/*
/bin/*
!/bin/.keep
/lib-exp/*
/src-exp/*
/tests-exp/*
/tests/log_jobs/*
/_darcs/*
/changes.txt
/docs/changes/*_cmn_*
/newfile
/tests/test.log
/tests/testprocess.log
tclIndex
