body {
    font-family: sans-serif;
}

h2 {
    margin-bottom: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cramino {
    width: 50%;
}

#cell_info {
    width: 50%;
}

.plot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 100;
    transform: scale(0.8, 0.8);
}

.plotly-graph-div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
}